.sidenav_container{
    width:100%;
    background:#171717;
}




.bflogo{
    width:20px;
    height:20px;
}
.bf_logo_wrapper{
    display: flex;
    align-items: center;
    column-gap:30px;
    margin-top:30px;
    margin-bottom:40px;

}

.bflogo_title{
    font-family: poppins;
    font-size:14px;
    font-weight:500;text-transform: uppercase;
    color: white;

}
.nav_menu_wrapper{
    display: flex;
    flex-direction:column;
    gap: 15px;
}
.sidemenu_holder{
    text-decoration: none;
    color:white;
}

.side_nav_icon{
    width:20px;
    height:20px;
}

.sidemenu_holder{
    display: flex;
    align-items: center;
    column-gap:20px;
    padding-left:5px;
    transition: 0.3s;
}

.sidemenu_holder:hover{
    background:#D0FF71;
    color:black;
    width:93%;
    border-radius:5px;

}

.sidenav_title{
    font-family: poppins;
    font-size:13px;
    font-weight:500;text-transform: capitalize;
}





.sidemenu_holder.active {
  background:#D0FF71;
  color:black;
    width:93%;
    border-radius:5px;

}

.sidemenu_holder.active .side_nav_icon {
  color: black;
}



.mobile_close {
  display: none;
}

@media (max-width:978px) {

  .mobile_close {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    cursor: pointer;
    color:#D0FF71;
  }

  .sidenav_container{
    height:100vh;
  }

  .bf_logo_wrapper{
    padding-left:30px;
  }

.sidemenu_holder{
    padding-left:8px;
}


.sidemenu_holder.active {
  /* background:#D0FF71; */
  color: white;
  background:#171717;
  border-bottom: 2px solid #D0FF71;
    width:95%;

}

.sidemenu_holder.active .side_nav_icon {
  color:white;
}



}